#main-menu {
  background: var(--c1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#main-menu span {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--f1);
}

#main-menu .left img {
  width: 40px;
  height: auto;
}

#main-menu .center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#main-menu .right {
  margin-left: auto;
}

#main-menu .right span.separator {
  text-decoration: none;
  color: var(--c1);
  cursor: default;
}

#main-menu .right .user-info {
  display: flex;
  align-items: normal;
  gap: 20px;
}

#main-menu .right .user-info .logout {
  cursor: pointer;
}
#main-menu .right .user-info img {
  width: 30px;
  height: auto;
}

#main-menu .right .user-info img:hover {
  cursor: pointer;
  opacity: 0.8;
}
