#main-menu {
  background: var(--container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#main-menu span {
  font-weight: 600;
  font-size: 1.3rem;
  color: var(--font);
}

#main-menu .left img {
  width: 40px;
  height: auto;
}

#main-menu .center {
  display: flex;
  flex: 1;
  justify-content: center;
}

#main-menu .right {
  margin-left: auto;
}
