.letter-box {
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--c2);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--f1);
  background-color: transparent;
  transition: 0.2s ease-in-out;
}

.letter-box.selected {
  border-color: var(--a1);
}

.letter-box.correct {
  background-color: var(--correct);
}

.letter-box.elsewhere {
  background-color: var(--elsewere);
}

.letter-box.absent {
  background-color: var(--absent);
}
