:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --container: #212121;
  --line: #424141;
  --hover: #0b495c;
  --accent: #00aeff;
  --correct: #48b608;
  --elsewhere: #c4b639;
  --absent: #837e7e;
  --font: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #4b4949 !important;
}
